{% extends 'shop/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Order{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <form method="post" class="w-75 m-auto">
                {% csrf_token %}
                {{ order_form|crispy }}
                <button type="submit" class="btn btn-primary bg-gradient">Place order</button>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="card w-75 m-auto">
                <div class="card-header text-start">Your order</div>
                <div class="card-body">
                    <ul>
                        {% for item in cart.items.all %}
                            <div class="d-flex justify-content-between bd-highlight">
                                <div>{{ item.quantity }}*{{ item.product.name }}</div>
                                <div>${{ item.total_price }}</div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-end">Total: ${{ total_price }}</div>
            </div>
        </div>
    </div>
{% endblock %}